<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-custom fixed-top">
    <div class="container">
        <!-- Brand -->
        <a class="navbar-brand" href="/events">
            <i class="fas fa-calendar-star"></i>
            <i>Event Hub</i>
        </a>
        <!-- Mobile Toggle -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navigation Links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto me-4">
                 <li class="nav-item">
                    <a class="nav-link" href="/events/bookings/showAllBookings">
                        <i class="fa-solid fa-User"></i>
                        My Bookings
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/events/new">
                        <i class="fas fa-plus-circle"></i>
                        Add Events
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/events">
                        <i class="fas fa-calendar-alt"></i>
                        Browse Events
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/events/about">
                        <i class="fas fa-info-circle"></i>
                        About
                    </a>
                </li>
            </ul>
            <!-- Authentication Buttons -->
            <div class="auth-buttons d-flex align-items-center">
                <!-- Guest State (Login/Signup) -->
                <div id="guestState">
                    <% if(!User) { %>
                        <a class="btn btn-custom btn-login" href="/events/Users/login">
                            <i class="fas fa-sign-in-alt"></i>
                            Login
                        </a>
                        <a class="btn btn-custom btn-signup" href="/events/Users/signup">
                            <i class="fas fa-User-plus"></i>
                            Sign Up
                        </a>
                    <% } %>
                    <% if(User) { %>
                        <a class="btn btn-custom btn-logout me-3" href="/events/Users/logout">
                            <i class="fas fa-sign-out-alt"></i>
                            Logout
                        </a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</nav>