<% layout("/layouts/boilerplate.ejs") %>
<body>
     <div class="row cont">
            <div class="col-lg-4 col-md-7 col-10 offset-lg-4 offset-md-2 offset-1" style="margin-bottom: 5.8rem;">
                <div class="glass-card p-5">
                    <div class="signup-header">
                        <h1>Login</h1>
                    </div>
                    <form id="signupForm" action="/events/users/login" method="post">
                        <div class="form-group">
                            <div class="form-floating position-relative">
                                <input type="text" class="form-control" id="username" name="username" placeholder="Full Name" required>
                                <label for="username">username</label>
                                <i class="fas fa-user input-icon"></i>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-floating position-relative">
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                                    required>
                                <label for="password">Password</label>
                                <i class="fas fa-lock input-icon"></i>
                            </div>
                        </div>

                        <button type="submit" class="btn btn2-signup mb-3">
                            Login
                        </button>
                    </form>
                    <div class="footer2-links offset-lg-2 offset-1">
                        Don't have an account? <a href="/events/users/signup" class="fw-bold">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>